@import "~bootstrap/scss/bootstrap";
@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,700");

  body{
    background-color: #302E3A;
    color: white;
    font-family: Poppins, sans-serif;
  } 
//<<-----------------------Home----------------------------->>  
  #home{
    .home img{
      height: 500px;
      background-size: contain;
      background-repeat: no-repeat;
    }
    #feel{
      flex-grow: 1;
      display: flex;
      flex-direction: column;         
      justify-content: center;
    }
}
//<<-----------------------Disc----------------------------->>
#music{
  align-self: end;
  .discover-but{
    display:flex;
    flex-direction: row;
    margin: 10px;
    .discover-but1, .discover-but2, .discover-but3{
      margin-right: 2%;
      padding: 2.5% 5%;
      background-color: #211F27;
    }
    p{
      margin: 0% !important;
    }
  }
}
.covers{
  width: 375px;
  height: 375px;
}

//<<-----------------------Form----------------------------->>
  .boxsub{ 
    background-color: #211F27;
    border-radius: 10px;
    margin-bottom: 30px;
  
  }
  .join {
    h1 {
      font-size: 3rem;
      font-weight: 700;
      span {
        color: #D2007B;
      }
    }
    #sub{
      background-color: #211F27 !important;
    }
  }
  #formBasicEmail, #formBasicPassword{
    background-color: #211F27 !important;
    border: 1px solid #0D6EFD !important;
  }

//<<-----------------------Footer----------------------------->>
footer{
  background-color: #211F27;
  font-weight: bold;
}
  
//<<-----------------------Default----------------------------->>  
.App > div {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #302E3A;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

/*.App-link {
  color: #61dafb;
}*/

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
