@import "./App.scss";
@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,700");

$grid-breakpoints: (
  phone: 576px,
  tablet: 768px,
  tablet-lg: 992px,
  desktop: 1200px,
  desktop-lg: 1400px,
  desktop-xl: 1600px
);

$primary-color: #302E3A;
$primary-color-alt: #FFFFFF;
$secondary: #211F27;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
